@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-notion-black font-sans bg-notion-white transition-colors duration-200;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .dark body {
    @apply bg-notion-dark text-notion-white;
  }
}

#tasklist::-webkit-scrollbar {
    display: none;
}

#num::-webkit-scrollbar {
    display: none;
}